#carouselExampleSlidesOnly{
    height: 100px;
    width: 300px;
}
#body-content{
    height: 450px;
    background-color: blueviolet;
}
img{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}