<!-- 

<div id="product-item" class="container">
    <div>
        
    </div>
    <img id="product-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvFTF5BpE_IJ3fGr8M_o0e422oAylOh49ux5XU16AP6O2_hNiSmWo9lUCF_vHidBuKzEE&usqp=CAU"><br>
    <button id="product-btn" (click)="show_description()" class="btn btn-primary">Description</button>
</div> 



<app-product-description (countChanged)="countChangedHandler($event)" *ngIf="desc"></app-product-description> -->


<div id="product-list-wrapper">
    <ul id="product-list">
        
        <li *ngFor="let product of products" class="product-list-item">
            <img class="product-img" src="https://cdn1.vectorstock.com/i/1000x1000/14/10/simple-coffee-logo-vector-24731410.jpg">
            Product ID : <b>{{product.id}}</b><br>
            Product Name : <b>{{product.name}}</b><br>
            Quantity : <b>{{product.quantity}}</b><br>
            Price : <b>{{product.price}}</b><br>
            Manufacturing Location : <b>{{product.loc}}</b><br>

            <div class="item-action-wrapper">
                <div class="item-action-btn">
                    <button (click)="decrement(product.quantity, product.id)" class="item-update">-</button>
                    <button class="item-update">{{product.quantity}}</button>
                    <button (click)="increment(product.quantity, product.id)" class="item-update">+</button><br>
                </div>
                <button [disabled]="product.quantity==0" (click)="addItem(product.name, product.price, product.quantity)" class="btn btn-primary item-update-add">Add to Cart</button>
            </div>
        </li>
    </ul>

</div>