<!-- <P>Hello</P>

<p>{{count}}</p>
<button class="btn btn-primary" (click)="counter()">Click Me!</button><br>

<label>Input Field</label>
<input type="text" value="{{myStr}}">
<img [src]="image_src"/>

<label>First Name</label>
<input type="text"><br>
<label>Last Name</label>
<input type="text"><br>
<button class="btn btn-primary" (click)="submit()">Submit</button>

<table>
    <tbody>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td>{{fname}}</td>
            <td>{{lname}}</td>
        </tr>
    </tbody>
</table> 

<div id="home-page">
<app-coffee-header></app-coffee-header>
<app-coffee-body></app-coffee-body>
<app-coffee-footer></app-coffee-footer>
</div>

<div class="container">
    <label>First Name : </label>
    <input name="firstname" [(ngModel)]="fname"><br>
    <label>Last Name : </label>
    <input name="lastname" [(ngModel)]="lname"><br>
    <p>Your full name is {{fname}} {{lname}}</p>

    <div>
        <label>Enter a Number :</label>
        <input name="num" [(ngModel)]="num">
        <p *ngIf="num%2!=0">The number entered is Odd</p>
        <p *ngIf="num%2==0">The number entered is Even</p>
    </div>
    <div class="container">
        <h6>Numbers</h6>
        <div *ngFor="let numarray of numarrays">
            <p>{{numarray}}</p>
        </div>
        <h6>Names</h6>
        <div *ngFor="let strarray of strarrays">
            <p>{{strarray}}</p>
        </div>

        <h6>Names with more than 5 letters</h6>
        <div *ngFor="let strarray of strarrays">
            <p *ngIf="strarray.length>5">{{strarray}}</p>
        </div>






        <div *ngFor="let strarray of strarrays">
        </div>


        <div>
            <button (click)="show_child()">Click Here</button>
            <div>
                <p>{{txt}}</p>
            </div>
        </div>


       


    </div>
</div>






 <app-product></app-product>

<div id="cart" class="container">
    <p>Total items in cart : {{cart_item_num}}</p>
</div>
 <div class="container">
    <p [ngClass]="item>10?'red':'yellow'">{{item}}</p>
</div>

<button (click)="enable()" class="btn btn-primary">Enable</button>
<button (click)="disable()" class="btn btn-primary">Disable</button>
<p *ngIf="flag">Some Text</p>

<p *ngFor="let i in data">
    {{i}}
</p>

<table class="table" id="dataTable">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Website</th>
        <th>Company</th>
        <th>Action</th>
    </tr>
    <tr [ngClass]="d.id%2==0?'blue':'green'" *ngFor="let d of data" [attr.id]="d.id">
        <td>{{d.id}}</td>
        <td>{{d.name}}</td>
        <td>{{d.username}}</td>
        <td>{{d.email}}</td>
        <td>
            {{d.address.street}},
            {{d.address.suite}},
            {{d.address.city}},
            {{d.address.zipcode}},
            Geolocation({{d.address.geo.lat}},{{d.address.geo.lng}})
        </td>
        <td>{{d.phone}}</td>
        <td>{{d.website}}</td>
        <td>{{d.company.name}}, {{d.company.catchPhrase}}, {{d.company.bs}}</td>
        <td><button (click)="removeItem(d)" class="btn btn-danger">Remove</button></td>
    </tr>
</table>


<div id="items">
    <app-product (newItemEvent)="addDetails($event)"></app-product>
</div>

<div id="cart">
    
    <h1 id="cart-title">List of Items in the Cart</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Sr No.</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr *ngFor="let detail of details; let i = index" [attr.data-index]="i" >
                    <td>{{i+1}}</td>
                    <td *ngFor="let d of detail">{{d}}</td>
            </tr>
        </tbody>
    </table>
    <p id="total"><b>Total Price : {{totalAmount}}</b></p>
</div>

<p>{{getDate}}</p>
<table class="table">
    <tbody>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Company</th>
        </tr>
        <tr *ngFor="let user of userInfo">
            <td>{{user}}</td>
            <td>{{user}}</td>
            <td>{{user}}</td>
            <td>{{user}}</td>
            <td>{{user}}</td>
            <td>{{user}}</td>
            <td>{{user}}</td>
            <td>{{user}}</td>
        </tr>
    </tbody>
</table>

<app-header></app-header>
<p ngModel=>Parent Value : {{value}} </p>

<input type="text" ngModel="{{inputValue}}">
<p>{{inputValue}}</p>
<app-header></app-header>


<div class="container-fluid">
    <form #myform="ngForm" (ngSubmit)="onSubmit(myform.value)">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input required name="email" [ngModel]="users.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="passowrd" [ngModel]="users.password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input name="checkbox" [ngModel]="users.checkbox" type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button [disabled]="!myform.valid" name="submit" type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

<app-header></app-header>

<label>Enter Number : </label>
<input type="number" name="number" ngModel="number" #number [ngModel]="number">
<button class="btn btn-primary" (click)="showTable(number.value)">Show Table</button>

<table class="table">
    <tbody>
        <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <td>{{number.value}}</td>
            <td>X</td>
            <td>{{i}}</td>
            <td>=</td>
            <td>{{ans[i]}}</td>
        </tr>
    </tbody>
</table>

<div class="container-fluid">
    <form #trip="ngForm">
        <label>From</label>
        <input type="date" name="from" #from required ngModel="{{from}}"><br>
        <label>To</label>
        <input type="date" name="to" #to required ngModel="{{to}}"><br>
        <label>Price</label>
        <input type="number" name="price" #price required><br>
        <button class="btn btn-primary" [disabled]="!trip.form.valid" (click)="showDetails(from.value, to.value, price.value)">Submit</button>
    </form>
</div>

<button (click)="clickToIncrement(count)">Increment</button>
<p>Parent Value : {{count}}</p>
<app-header></app-header> -->

<!-- <app-reactive-form-module></app-reactive-form-module> -->
<!-- <app-reactive-address-form></app-reactive-address-form> -->

<!-- <ul *ngFor="let r of result">
    <li *ngFor="let d of r"></li>
</ul> -->












<form>
    <label>ID
        <input type="number" [(ngModel)]="id" placeholder="{{id}}">
    </label><br>

    <label>First Name
        <input type="text" [(ngModel)]="fname" placeholder="{{fname}}">
    </label><br>

    <label>Last Name
        <input type="text" [(ngModel)]="lname" placeholder="{{lname}}">
    </label><br>

    <label>Email
        <input type="text"  [(ngModel)]="email" placeholder="{{email}}">
    </label><br>

    <button (click)="getDetails(id)" type="submit">Get Details</button>
</form>