<!-- <P>Hello</P>

<p>{{count}}</p>
<button class="btn btn-primary" (click)="counter()">Click Me!</button><br>

<label>Input Field</label>
<input type="text" value="{{myStr}}">
<img [src]="image_src"/>

<label>First Name</label>
<input type="text"><br>
<label>Last Name</label>
<input type="text"><br>
<button class="btn btn-primary" (click)="submit()">Submit</button>

<table>
    <tbody>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td>{{fname}}</td>
            <td>{{lname}}</td>
        </tr>
    </tbody>
</table> -->

<div id="home-page">
<app-coffee-header></app-coffee-header>
<app-coffee-body></app-coffee-body>
<app-coffee-footer></app-coffee-footer>
</div>