<!-- <p>header works!</p>
<app-footer></app-footer> -->

<!-- <button (click)="increment()" class="btn btn-primary">Click</button>
<p>Child Value : {{count}}</p> -->

<!-- <input type="text"> -->


<table class="table">
    <tbody>
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Checkbox</th>
        </tr>
        <tr>
            <td>{{displayData.email}}</td>
            <td>{{displayData.passowrd}}</td>
            <td>{{displayData.checkbox}}</td>
        </tr>
    </tbody>
</table>